/* Variables

--main-color: Changes the colour of the header, footer, and project links.

*/
:root {
  --main-color: #6f0000;
}

body {
  background-color: #e5e5e5 !important;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

div.contact {
  background-color: var(--main-color);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 0.4em;
  margin: auto;
  margin-top: 20px;
  width: 50%;
}

div.resume-content{
  background-color: #FBF7F2;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  padding: 0.4em;
  padding-bottom: 0%;
  margin: auto;
  height: 100%;
  width: 50%;
}

div.footer {
  background-color: var(--main-color);
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 0.4em;
  margin: auto;
  width: 50%;
}

div.box {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  border-style: solid;
  border-color: #000000;
  background-color: white;
}

div.projects {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.nav-link {
  color: #ffffff !important;
  font-family: "Open Sans", sans-serif;
}

.btn {
  margin-right: 15px;
  width: 100%;
}

hr {
  border-top: 1px solid black;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 0;
  color: #ffffff;
  margin: 15px;
}

a.project-title{
  color: var(--main-color);
}

h4.title{
  display: inline-block;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h4.date {
  font-weight: normal;
  
  float: right;
  margin: 0;
}

h4.subtitle{
  font-weight: 400;
  font-style: italic;
  display: inline-block;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a.contact{
  color: white;
}

ul {
  margin: 0;
}

.skills-list{
  display: inline;
  list-style: none;
  padding: 0px;
}

.skills-list li {
  display: in-line;
}

.skills-list li::after {
  content: ", ";
}

/* for small devices up to medium sized devices */
@media (max-width: 991px) {

  h4.date{
    all: revert;
    font-weight: normal;
    margin: 0;
  }

  div.contact {
    width: 95%;
    margin-top: 15px;
  }

  div.resume-content {
    width: 95%;
    margin: 0px auto;
  }


  div.footer {
    width: 95%;
    margin-bottom: 15px;
  }
}

/* Certain laptops and desktops */
@media (min-width: 992px) {

  h4.date{
    all: revert;
    font-weight: normal;
    margin: 0;
    float: right;
  }

  div.contact {
    width: 80%;
    margin-top: 15px;
  }

  div.resume-content {
    width: 80%;
    margin: 0px auto;
  }


  div.footer {
    width: 80%;
    margin-bottom: 15px;
  }
}

/* Larger laptops and desktops */
@media (min-width: 1200px) {

  h4.date{
    all: revert;
    font-weight: normal;
    margin: 0;
    float: right;
  }

  div.contact {
    width: 50%;
    margin-top: 15px;
  }

  div.resume-content {
    width: 50%;
    margin: 0px auto;
  }


  div.footer {
    width: 50%;
    margin-bottom: 15px;
  }
}


